

.Card_1{
    height: 90vh;
    width: 100%;
    background-color:#070422;
    margin-top: -15px;
     
}
.Card_1_Name{
    color: white;
    text-align: center;
    font-size: 4em;
}
.Card_1_Container{
    height:auto;
    width: 95%;
    /* background-color: white; */
    display: flex;
    margin-bottom: 10px;
    margin: 2%;
}
.Card_1_left{
    width: 50%;
    height: 80%;
    /* background-color: wheat; */
    padding: 22px;
    margin: 12px;
    font-size: x-large;

}
.Card_1_right{
    width: 50%;
    height: 80%;
    /* background-color: yellow; */
    margin: 12px;
    padding: 12px;
}
.Card_1_Image{
    height: auto;
    width: 100%;
    padding-top: 3%;

}


.Card_1_Content p{
    padding: 10px;
    margin: 10px;
    color: whitesmoke;
}
.Card_1_icons_left{
    height: 4%;
    width:5%;
    margin: 4px;
    margin-bottom: -2%;
}
.Card_1_logo_anchors{
 margin: 12px;
 padding: 10px;
 
}
.Card_1_anchor_liveproject{
    font: 1000 13.3333px Arial;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.87);
      background-color: #c6ff00;
      text-decoration: none;
      padding: 18px;
      height: 28px;
      width: 120px;
      margin-left: 20px;
      border-radius: 5px;

}
.Card_1_anchor_github{
    font: 1000 13.3333px Arial;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.87);
      background-color: #c6ff00;
      text-decoration: none;
      padding: 18px;
      height: 18px;
      width: 1px;
      margin-left: 20px;
      border-radius: 5px;

}

.Card_1_tags{
    margin: 12px;
    width: 90%;
    height: auto;
    /* background-color: aqua; */
    display: flex;
}
.Card_1_tags_icons{
    height: 2%;
    width: 10%;
    margin: 1%;
    margin-left: 25px;
    padding-top: 1%
}





/* For Mobiles */
@media only screen and (max-width:720px){
    .Card_1_Name{
        font-size: 2em;
    }
    .Card_1_Container{
        flex-direction:column-reverse;
        width: 100%;
        height: auto;
        margin-bottom: -20px;
         
    }
        .Card_1_right{
            /* margin-left: 12vh; */
            width: 80%;
            height: auto;
        }
        .Card_1_left{
            /* margin-left: 12vh; */
            width: 80%;
            height: auto;
        }
        .Card_1{
            height: auto;
            width: 100%;
            background-color:#070422;
            margin-top: -15px;
        }    
        .Card_1_logo_anchors{
          display: flex;
            flex-direction: column;
             
           }
           .Card_1_anchor_github{
            font: 1000 13.3333px Arial;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            color: rgba(0, 0, 0, 0.87);
              background-color: #c6ff00;
              text-decoration: none;
              padding: 10px;
              height: auto;
              width: 60%;
              margin: 2%;
              border-radius: 5px;
        
        }
        .Card_1_icons_left{
            height: 30px;
            width:30px;
            /* margin: 5px; */
            margin-bottom: -5px;
        }
        .Card_1_anchor_liveproject{
            font: 1000 13.3333px Arial;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            color: rgba(0, 0, 0, 0.87);
              background-color: #c6ff00;
              text-decoration: none;
              padding: 12px;
              height: auto;
              width: 60%;
              margin: 3%;
              border-radius: 5px;
        
        }
        
}